body {
  font-family: 'Comic Sans MS', cursive, sans-serif;
}

.text-neon {
  color: #39ff14;
  text-shadow: 0 0 5px #39ff14, 0 0 10px #39ff14, 0 0 20px #39ff14;
}

.hero {
  background-image: url('https://i.imgur.com/JQZbxYQ.gif');
  background-size: cover;
  background-position: center;
  color: white;
  text-shadow: 2px 2px 10px #000;
}

.border-neon {
  border: 2px solid #39ff14;
  box-shadow: 0 0 10px #39ff14;
}

.card-title {
  font-weight: bold;
}

.custom-brand {
  font-size: 1.8rem;
  color: #fff200 !important; /* amarillo neón */
  text-shadow: 0 0 5px #00ff00, 0 0 10px #00ff00;
  font-family: 'Comic Sans MS', cursive, sans-serif;
}

.img-hover {
  transition: transform 0.3s ease;
}

.img-hover:hover {
  transform: scale(1.2);
}

